In [15]:
import pandas as pd
from ast import literal_eval

In [6]:
df = pd.read_csv(
    "frontend/src/assets/.ex.csv", 
    names=["id", "name", "email", "reports_to", "project", "roles", "skills"], 
    index_col="id"
)

In [7]:
df.head()

,name,email,reports_to,project,roles,skills
id,,,,,,
1,Piper Dingledine,Piper.Dingledine@fakegame.com,7,Fake mobile game,Sales,"['Sales tactic', 'Storytelling', 'Relation bui..."
2,Dennis Cardenas,Dennis.Cardenas@fakegame.com,7,Fake mobile game,Director,"['Strategic Thinking', 'Communication', 'Decis..."
3,William Mooney,William.Mooney@fakegame.com,7,Fake mobile game,Programmer,"['Perseverance', 'Self-Motivation', 'Independe..."
4,Ashley Rifkin,Ashley.Rifkin@fakegame.com,7,Fake mobile game,Sales,"['Sales tactic', 'Storytelling', 'Relation bui..."
5,Lisa Yruegas,Lisa.Yruegas@fakegame.com,7,Fake mobile game,Director,"['Strategic Thinking', 'Communication', 'Decis..."

In [18]:
res = []
for v in df.itertuples():
    data = v._asdict()
    data["skills"] = literal_eval(data["skills"])
    res.append(data)

In [20]:
import json
json.dump(dict(employee=res), open("frontend/src/assets/ex.json", "w"))